<!-- HERO START -->
<header id="home" class="hero">
    <div class="hero-body">
        <div class="hero-text text-center">
            <h1>
                I'm Ryan McDowell <span class="blinker"></span>
            </h1>

            <h1 class="small">Software Engineer</h1>

            <p>Prisoner of curiosity, adrenaline addict.</p>

            <div>
                <a href="#profile" class="btn btn-lg btn-custom" scroll-to="profile" duration="1800">
                    Know Me Better
                </a>
            </div>
            <!-- //.page-scroll -->
        </div>
        <!-- //.hero-text -->
    </div>
    <!-- //.hero-body -->
</header>
<!-- //HERO END -->


<!-- NAVIGATION START -->
<nav id="navigation" sticky class="navbar navbar-fixed-top center-menu" role="navigation">
    <div class="container navbar-container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" ng-click="showDropdown = !showDropdown">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand visible-xs visible-sm" href="#page-top" scroll-to="home" duration="1800">MCDOWELL</a>
        </div>
        <!-- //.navbar-header -->

        <div class="navbar-collapse collapse berg-collapse" uib-collapse="!showDropdown">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#home" scroll-to="home" duration="1800" ng-click="showDropdown = false">Home</a>
                </li>

                <li>
                    <a href="#profile" scroll-to="profile" duration="1800" ng-click="showDropdown = false">Profile</a>
                </li>

                <li>
                    <a href="#resume" scroll-to="resume" duration="1800" ng-click="showDropdown = false">Resume</a>
                </li>

                <li>
                    <a href="#skills" scroll-to="skills" duration="1800" ng-click="showDropdown = false">Skills</a>
                </li>

                <li>
                    <a href="#contact" scroll-to="contact" duration="1800" ng-click="showDropdown = false">Contact</a>
                </li>
            </ul>
        </div>
        <!-- //.navbar-collapse -->
    </div>
    <!-- //.navbar-container -->
</nav>
<!-- //NAVIGATION END -->


<!-- PROFILE SECTION START -->
<section id="profile" class="section">
    <div class="container section-wrapper">
        <div class="section-content">
            <div class="row">
                <div class="col-md-7 match-height">

                    <!-- PROFILE TEXT START -->
                    <div class="profile-text padding-right-yes">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="section-title">Hello, My Name is Ryan.</h2>

                                <p>
                                    Ryan McDowell, born and grew up in Chicago, Illinois living the dream in San Francisco, CA. Highly motivated software engineer with a passion for cutting-edge technology.
                                </p>

                                <span class="divider"></span>

                                <div in-view="animateProfile = true" in-view-options="{offset: 50}" ng-class="{'animated': animateProfile, 'bounceInUp': animateProfile, 'invisible': !animateProfile}">
                                    <p class="text-grey">
                                        I currently work at Google, where I spend most of my time solving complex technical problems on the Google Cloud Platform.
                                    </p>

                                    <p class="text-grey">
                                        In my free time, I work on my custom built Linux media center attempting to create binge watching utopia. But
                                        don't let that fool you; I definitely have a thirst for adventure. In training for my next life as a spy,
                                        I've rappelled off the Wit Hotel and have flown a military combat plane in a dogfight (no flying experience necessary).
                                    </p>
                                </div>

                            </div>
                            <!-- //.col-md-12 -->
                        </div>
                        <!-- //.row -->
                    </div>
                    <!-- //PROFILE TEXT END -->

                    <!-- CONTACT DETAILS START -->
                    <div class="contact-details padding-right-yes">
                        <div class="row">
                            <div class="col-sm-6 col-md-5">
                                <h4>Contact Details</h4>

                                <ul class="list-unstyled text-grey">
                                    <li>Ryan McDowell</li>
                                    <li>(630) 418-2121</li>
                                    <li>me@ryanmcdowell.io</li>
                                    <li>www.ryanmcdowell.io</li>
                                </ul>
                            </div>
                            <!-- //.col-md-5 -->

                            <div class="col-sm-6 col-md-7">
                                <a href="resume/RyanMcDowell-Resume.pdf" class="btn btn-lg btn-custom">
                                    <i class="icon-File-Download"></i> Download Resume
                                </a>
                            </div>
                            <!-- //.col-md-6 -->
                        </div>
                        <!-- //.row -->
                    </div>
                    <!-- //CONTACT DETAILS END -->

                </div>
                <!-- //.col-md-7 -->

                <!-- PROFILE PICTURE START -->
                <div class="col-md-5 hidden-xs hidden-sm match-height pp-wrapper">
                    <div class="profile-picture style-two">
                        <img src="images/me-1.jpg" alt="profile picture" class="img-responsive"/>
                    </div>
                </div>
                <!-- //PROFILE PICTURE END -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.section-content -->
    </div>
    <!-- //.container -->
</section>
<!-- //PROFILE SECTION END -->


<!-- RESUME SECTION START -->
<section id="resume" class="section">
    <div class="container section-wrapper">
        <div class="section-content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="section-title">My Resume</h2>

                    <p class="section-subtitle">
                        If you call failures experiments, you can put them in your resume and claim them as achievements.
                    </p>

                    <span class="divider center"></span>
                </div>
                <!-- //.col-md-8 -->
            </div>
            <!-- //.row -->

            <!-- WORK EXPERIENCE START -->
            <div class="row work-experience">
                <div class="col-md-10 col-md-offset-1">
                    <h3>Work Experience</h3>

                    <div class="panel-group resume" id="work">

                        <div class="resume-item"
                             ng-repeat="job in ::resume.workExperience"
                             ng-init="showDetail = ($index > 0 || !job.accomplishments.length) ? false : true"
                             in-view="animate = $index > 0 ? true : false"
                             ng-class="{'animated': animate, 'bounceInUp': animate, 'invisible': !animate && $index > 0}">

                            <div class="resume-year">
                                <span class="resume-year">{{::job.startDate}} - {{::job.endDate}}</span>
                            </div>
                            <!-- //.resume-year -->

                            <div class="resume-btn">
                                <a class="clickable" ng-click="showDetail = !showDetail" ng-class="{'collapsed': collapseResumeItem(showDetail)}"></a>
                            </div>
                            <!-- //.resume-btn -->

                            <div class="panel">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4 class="resume-title">{{::job.company}} - {{::job.title}}</h4>
                                    </div>
                                    <!-- //.panel-title -->
                                </div>
                                <!-- //.panel-heading -->

                                <div class="panel-collapse" uib-collapse="collapseResumeItem(showDetail)">
                                    <div class="panel-body text-grey">
                                        <p ng-if="job.responsibilities">
                                            Responsibilities:
                                            <br>
                                            {{::job.responsibilities}}
                                        </p>
                                        <p ng-repeat="accomplishment in ::job.accomplishments" ng-class="::{'last': $last}">
                                            - {{::accomplishment}}
                                        </p>
                                    </div>
                                    <!-- //.panel-body -->
                                </div>
                                <!-- //.panel-collapse -->
                            </div>
                            <!-- //.panel -->
                        </div>
                        <!-- //.resume-item -->

                    </div>
                    <!-- //.panel-group -->
                </div>
                <!-- //.col-md-10 -->
            </div>
            <!-- //WORK EXPERIENCE END -->

            <!-- EDUCATION START -->
            <div class="row education">
                <div class="col-md-10 col-md-offset-1">
                    <h3>Education</h3>

                    <div class="panel-group resume" id="education">

                        <div class="resume-item"
                             ng-repeat="degree in ::resume.education"
                             ng-init="showDetail = false"
                             in-view="animate = $index > 0 ? true : false"
                             ng-class="{'animated': animate, 'bounceInUp': animate, 'invisible': !animate && $index > 0}">

                            <div class="resume-year">
                                <span class="resume-year">{{::degree.startDate}}<span ng-if="::degree.endDate"> - {{::degree.endDate}}</span></span>
                            </div>
                            <!-- //.resume-year -->

                            <div class="resume-btn">
                                <a class="clickable" ng-click="showDetail = !showDetail" ng-class="{'collapsed': !showDetail}"></a>
                            </div>
                            <!-- //.resume-btn -->

                            <div class="panel">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4 class="resume-title">{{::degree.degree}} - {{::degree.university}}</h4>
                                    </div>
                                    <!-- //.panel-title -->
                                </div>
                                <!-- //.panel-heading -->

                                <div id="education1" class="panel-collapse" uib-collapse="!showDetail">
                                    <div class="panel-body text-grey">
                                        <p></p>
                                    </div>
                                    <!-- //.panel-body -->
                                </div>
                                <!-- //.panel-collapse -->
                            </div>
                            <!-- //.panel -->
                        </div>
                        <!-- //.resume-item -->

                    </div>
                    <!-- //.panel-group -->
                </div>
                <!-- //.col-md-10 -->
            </div>
            <!-- //EDUCATION END -->
        </div>
        <!-- //.section-content -->
    </div>
    <!-- //.container -->
</section>
<!-- //RESUME SECTION END -->


<!-- SKILLS SECTION START -->
<section id="skills" class="section">
    <div class="container section-wrapper">
        <div class="section-content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="section-title">Skills & Expertise</h2>

                    <p class="section-subtitle">A winner is someone who recognizes his talents, works his tail off to develop them into skills, and uses these skills to accomplish his goals.</p>

                    <span class="divider center"></span>
                </div>
                <!-- //.col-md-8 -->
            </div>
            <!-- //.row -->

            <!-- CIRCLE CHART START -->
            <div class="circle-chart">
                <div class="row">
                    <div class="col-sm-4 col-md-2">
                        <div class="item">
                            <div class="circle">
                                <span class="item-progress" in-view="circleHtmlProgress = 45" ng-style="{height: circleHtmlProgress + 'px'}"></span>
                            </div>
                            <!-- //.circle -->

                            <span class="percent">45%</span>

                            <h4>HTML5 + CSS3</h4>
                        </div>
                        <!-- //.item -->
                    </div>
                    <!-- //.col-md-2 -->

                    <div class="col-sm-4 col-md-2">
                        <div class="item">
                            <div class="circle">
                                <span class="item-progress" in-view="circleAngularProgress = 55" ng-style="{height: circleAngularProgress + 'px'}"></span>
                            </div>
                            <!-- //.circle -->

                            <span class="percent">55%</span>

                            <h4>Angular JS</h4>
                        </div>
                        <!-- //.item -->
                    </div>
                    <!-- //.col-md-2 -->

                    <div class="col-sm-4 col-md-2">
                        <div class="item">
                            <div class="circle">
                                <span class="item-progress" in-view="circleMongoProgress = 40" ng-style="{height: circleMongoProgress + 'px'}"></span>
                            </div>
                            <!-- //.circle -->

                            <span class="percent">40%</span>

                            <h4>MongoDb</h4>
                        </div>
                        <!-- //.item -->
                    </div>
                    <!-- //.col-md-2 -->

                    <div class="col-sm-4 col-md-2">
                        <div class="item">
                            <div class="circle">
                                <span class="item-progress" in-view="circleJavaProgress = 65" ng-style="{height: circleJavaProgress + 'px'}"></span>
                            </div>
                            <!-- //.circle -->

                            <span class="percent">65%</span>

                            <h4>Java</h4>
                        </div>
                        <!-- //.item -->
                    </div>
                    <!-- //.col-md-2 -->

                    <div class="col-sm-4 col-md-2">
                        <div class="item">
                            <div class="circle">
                                <span class="item-progress" in-view="circleMuleProgress = 60" ng-style="{height: circleMuleProgress + 'px'}"></span>
                            </div>
                            <!-- //.circle -->

                            <span class="percent">60%</span>

                            <h4>Mule ESB</h4>
                        </div>
                        <!-- //.item -->
                    </div>
                    <!-- //.col-md-2 -->

                    <div class="col-sm-4 col-md-2">
                        <div class="item last">
                            <div class="circle">
                                <span class="item-progress" in-view="circleMicroProgress = 55" ng-style="{height: circleMicroProgress + 'px'}"></span>
                            </div>
                            <!-- //.circle -->

                            <span class="percent">55%</span>

                            <h4>Microservices</h4>
                        </div>
                        <!-- //.item -->
                    </div>
                    <!-- //.col-md-2 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //CIRCLE CHART END -->
        </div>
        <!-- //.section-content -->
    </div>
    <!-- //.container -->
</section>
<!-- //SKILLS SECTION END -->


<!-- CONTACT SECTION START -->
<section id="contact" class="section">
    <div class="container section-wrapper">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-title">Contact Me</h2>

                    <p class="section-subtitle">
                        Have an opportunity you'd like to discuss?
                    </p>

                    <span class="divider center"></span>
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->

            <div class="row">
                <div class="col-md-12">

                    <!-- CONTACT DETAILS START -->
                    <div class="contact-details text-center" in-view="animateContact = true" in-view-options="{offset: 50}" ng-class="{'animated': animateContact, 'flipInX': animateContact, 'invisible': !animateContact}">
                        <div class="speech-bubble">
                            <i class="icon-Speach-Bubble11"></i>

                            <h4 class="text-grey">
                                Say<br>Hello
                            </h4>
                        </div>
                        <!-- //.speech-bubble -->

                        <h2>Ryan <strong>McDowell</strong></h2>

                        <h4 class="text-grey"><a href="mailto:me@ryanmcdowell.io">me@ryanmcdowell.io</a></h4>

                        <span class="divider center"></span>
                    </div>
                    <!-- //CONTACT DETAILS END -->
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.section-content -->
    </div>
    <!-- //.container -->
</section>
<!-- //CONTACT SECTION END -->


<!-- FOOTER START -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-scroll">
                    <a href="#page-top" scroll-to="page-top" duration="1800"><i class="icon-Arrow-Up"></i></a>
                </div>
                <!-- //.page-scroll -->

            </div>
            <!-- //.col-md-12 -->
        </div>
        <!-- //.row -->

        <div class="row">
            <div class="col-md-12">
                <div class="copyright text-center">
                    <p class="text-grey">This site was built using AngularJS, Bootstrap, Yeoman, Grunt, Bower, HTML5 and CSS3.</p>
                    <p class="text-grey">&copy; {{::currentYear}} Ryan McDowell. All rights reserved.</p>
                </div>
                <!-- //.copyright -->
            </div>
            <!-- //.col-md-12 -->
        </div>
        <!-- //.row -->
    </div>
    <!-- //.container -->
</footer>
<!-- //FOOTER END -->
